@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul> Especificações da aplicação:</ul>
<li><a href="https://github.com/tunner1000/PingListaTelefonica">Repositório da aplicação.</a></li>
<li>Documentação da API com Swagger</li>
<li>Autenticação com JWT + Bearer</li>
<li>Database é criado automaticamente (sem Migration), apenas para facilitar a utilização.</li>
